body{
    margin: 0;
    padding: 0;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.image{
    width: 100vw;
    min-height: 100%;
    background-image: url("https://images.unsplash.com/photo-1448375240586-882707db888b?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    background-size: cover;
    position: absolute;
}
.content {
    position: absolute;
    color: white;
}
hr{
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -80%);
    color: white;
    width: 600px;
}
.content-inner {
    position: relative;
    width: 100vw;
    height: 100vh;
}
.logo{
    position: absolute;
    top: 0;
    padding: 20px 20px;
    font-size: 40px;
}
h1{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
}
.content-inner p{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
}
.footer span{
    position: absolute;
    top: 95%;
    left: 1%;
    font-size: 30px;
}
.footer a{
    position: absolute;
    color: white;
    text-indent: 5px;
}