button{
    background-color: blue;
    color: white;
    padding: 10px 20px;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}
button:hover{
    background-color: cyan;
    color: black;
}