.header{
    text-align: center;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
hr{
    width: 100px;
    height: 2px;
    background-color: blue;
}
.body_up{
    display: flex;
    justify-content: space-between;
}
.body_down{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.message{
    display: block;
}
span{
    float: right;
    box-sizing: border-box;
    width: 400px;
    color: gray ;
    font-size: 25px;
    font-style: italic;
}