@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    list-style: none;
}
 
/* start header */
header {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    background-color: black;
    color: white;
}
header nav ul{
    display: flex;
}
header nav ul li {
    padding: 10px 30px;
}
header nav ul li a{
    color: white;
}
header nav ul li:hover{
    background-color: white;
}
header nav ul li:hover a{
    color: rgb(0, 0, 0);
}
/* end header */